<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ue.graffiti">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!--<supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true"/>-->

    <application
        android:name=".DebugApplication"
        android:allowBackup="false"
        android:icon="@android:drawable/alert_dark_frame"
        android:label="@string/gr_finger_graffiti"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ue.graffiti.ui.GraffitiActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/gr_finger_graffiti"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>