<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ue.graffiti">

    <application
        android:icon="@android:drawable/alert_dark_frame"
        android:label="@string/gr_module_name"
        android:screenOrientation="portrait">
        <activity
            android:name="com.ue.graffiti.ui.GraffitiActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"/>
    </application>
</manifest>
